.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
   .card-md {
    margin:0px;
    width: 100%;
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  ion-list.list.list-ios {
    margin-right: 10px;
    margin-left: 10px;
}
ion-list.list.list {
  margin-right: 10px;
  margin-left: 10px;
}
ion-item.item.item-block.item-ios {
    margin-right: 14px;
    border-radius: 2px;
}
ion-item.item.item-block.item {
    margin-right: 14px;
    border-radius: 2px;
}



}
