page-add-campsite {
 form, page-add-campsite input, page-add-campsite optgroup, page-add-campsite select {
      margin: 3%;
      font: inherit;
      color: inherit;
      border:solid;
      border-width:1px;
  }

}
